/* Dropdown container */
.dropdown-btn {
    background-color: #4b6cb7;
    color: #fff;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1em;
    transition: background 0.3s;
}

.dropdown-btn:hover {
    background-color: #182848;
}

.dropdown-content {
    display: none; 
    flex-direction: column;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}

.dropdown-content a {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background: #eee;
}

.dropdown-content.active {
    display: flex;
}
.header {
    background: #4fbbdc;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}